.cube{
  position: absolute;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(-50deg) rotateY(45deg);
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  /* background: linear-gradient(145deg, #d4af37, #8b6b2e); */
  border: 1px solid rgba(0,0,0,0.3);
}

.vertical .top{
  background: url("../../assets/vertical.png");
  background-size: cover;
  transform: rotate(90);
}
.horizontal .top{
  background: url("../../assets/horizontal.png");
  background-size: cover;
  transform: rotate(90);
  /* filter: brightness(1.8); */
}
.edge-ur .top{
  background: url("../../assets/edge-ur.png");
  background-size: cover;
}
.edge-ul .top{
  background: url("../../assets/edge-ul.png");
  background-size: cover;
}
.edge-dr .top{
  background: url("../../assets/edge-dr.png");
  background-size: cover;
}
.edge-dl .top{
  background: url("../../assets/edge-dl.png");
  background-size: cover;
}
.cross-u .top{
  background: url("../../assets/cross-u.png");
  background-size: cover;
}
.cross-r .top{
  background: url("../../assets/cross-r.png");
  background-size: cover;
}
.cross-l .top{
  background: url("../../assets/cross-l.png");
  background-size: cover;
}
.cross-d .top{
  background: url("../../assets/cross-d.png");
  background-size: cover;
}

.front {
  background-color: #794d13;

}

.back {
  background-color: #5a3208;

}

.right {
  background-color: #5a3208;

}

.left {
  filter: brightness(1);

  background-color: #5a3208;
}

.top {
  filter: brightness(1)!important;
  background-color: #5a3208;
}

.bottom {
  background: #e67e22; /* narandžasta */
}
/* strane kocke */
.front  { transform: translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }