.full {

    position: relative;
    background-image: url(../../assets/ChatGPT\ Image\ 12.\ мар\ 2026.\ 03_58_38.png);
    background-size: cover;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;     /* horizontalni centar */
    transition: transform 1.5s ease-in-out;
    transform-origin: bottom;
    padding-top: 20vh;
}
.full.zoomed {
    transform: scale(1.1) translateY(-10px);
}
.full.zoomed2 {
    transform: scale(1.1) translateY(-580px);
}
.full::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55); /* jačina tame */
    z-index: 2;
}

/* SADRŽAJ IZNAD OVERLAY-A */
.full h1 {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 50px;
}


.curve-text {
    position: relative;
    z-index: 2;
    top:-200px;
}

.curve-text text {
    fill: white;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.btn-full{
    position: relative;
    height: 30vh;
    margin-top: -30vh;
    display: flex;
    justify-content: center; /* horizontalno centriranje */
    align-items: center;     /* vertikalno centriranje */
    width: 30%;
}
.btn-img{
    transform: scale(0.5);
    cursor: pointer;
}
.btn-full h1 {
    cursor: pointer;
    color: white;
    font-size: 50px;
    position: absolute;
    margin: 0;
    letter-spacing: 5px;
    top: 55px;
    width: 55%;
    height: 40%;
    padding-top: 10px;
    padding-left: 15%;
}
.hidden{
    display: none;
}

.characters{
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content:space-around;
    margin-top: 20vh;
}
.characters img{
    height: 100%;
    width: auto;
    transform: scale(1.4);
    margin-top: 35vh;
    cursor: pointer;
    z-index: 100;
    filter: brightness(40%);


}
.arrow{
    z-index: 100;
    position: absolute;
    transform: scale(0.6);
    animation: arr 1s infinite;
}
.characters img:nth-child(4){
    transform: scale(1.4);
    margin-top: 41vh;
}
.characters img:nth-child(3){
    transform: scale(1.5);
    margin-top: 39vh;
}

.title{
    margin-top: -15vh;
    visibility: hidden;
}

.btn-div{
    width: 15%;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    margin-top: 18vh;
}
.btn-div img{
    width: 100%;
    filter: brightness(55%);
}

.btn-div h1{
    position: absolute;
    cursor: pointer;
    top: 45px;
    left: 45px;
    font-size: 34px;
}
@keyframes arr {
  0% { top: 330px; }
  50% { top: 340px; }
  100% {top:330px}
}