.cube-matrix{
        position: relative;
        height: 50vh;
        width: 50vw;
        /* margin-left: -100px; za 5 */
        margin-left: -380px; 
        margin-top: 350px;
        transform: scale(0.8);
}

